global
  log stdout format raw local0

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend http
    bind *:8100
    mode http
    timeout client 10s
    use_backend all

backend all
    mode http
    server s1 goapp1:8081
    server s2 goapp2:8082
    server s3 goapp3:8083
